:root {
	--primary: #1a48cc;
	--secondary: #102b7a;
	--tertiary: #aeb6eb;
	--complement: #cc9ea1;
	--triadic-red: #cc1a48;
	--triadic-green: #48cc1a;
}

* {
	font-family: 'Expletus Sans', sans-serif;
	font-size: 62.5%;
	color: var(--secondary);
}

header {
	background: linear-gradient(to right, var(--secondary), var(--primary), var(--tertiary));
	color: var(--complement);
}

header .container {
	min-height: 9vh;
}

header img {
	float: left;
	max-width: 8vh;
	max-height: 8vh;
	margin-top: 1.7vh;
}

header h1 {
	font-size: 6rem;
	text-align: center;
	font-family: 'Goldman', monospace;
	color: var(--complement);
}

.lead {
	color: var(--tertiary);
	font-size: 2.2rem;
	text-align: center;
	padding-bottom: 1rem;
}

.search-container h3 {
	text-align: center;
	margin-top: 1rem;
}

.search-label {
	font-size: 1.8rem;
	margin-left: 20%;
}

#artist-search {
	width: 18rem;
	height: 2.5rem;
	font-size: 1.4rem;
}

#artist-search-label {
	font-size: 1.7rem
}

#song-search {
	width: 18rem;
	height: 2.5rem;
	font-size: 1.4rem;
}

.btn-outline-dark {
	color: var(--secondary);
	border: 0.1rem solid var(--secondary);
	border-radius: 2rem;
	padding: 0.2rem;
	margin-top: 1rem;
}

.btn-outline-dark:hover {
	background: var(--secondary);
	color: var(--tertiary);
}

.btn-outline-dark:focus {
	box-shadow: 0.35rem 0rem 0.35m var(--primary);
}

#recent-searches-label {
	font-size: 1.8rem;
}

#recent-searches {
	width: auto;
}

#recent-searches li {
	background: linear-gradient(to right, var(--secondary), var(--primary), var(--tertiary) );
	color: var(--complement);
	font-size: 1.8rem;
}

#recent-searches:hover {
	cursor: pointer;
	background: var(--tertiary);
	box-shadow: 0.35rem 0rem 0.35rem var(--primary);
}

#youtube-container {
	font-size: 1.6rem;
	justify-content: center;
	text-align: center;
	margin-top: 5%;
	width: 580px;
	height: px;
}

#song-info {
	font-size: 1.6rem;
	text-align: center;
	margin-top: 5%;
}

#lyrics-text {
	font-size: 1.2rem;
	text-align: center;
	font-family: 'Iceland', cursive;
	margin-top: 1%;
}

#lyrics h5 {
	font-size: 1.6rem;
}

#lyrics-modal {
	background: linear-gradient(to right, var(--secondary), var(--primary), var(--secondary) );
	color: var(--tertiary);
	font-size: 2rem;
	border-radius: 2rem;
	padding: 1.5rem;
	margin-top: 10%;
	margin-left: 2.5%;
	font-family: 'Iceland', sans-serif;
}

#lyrics button:hover {
	cursor: pointer;
	box-shadow: 0.35rem 0rem 0.35rem var(--tertiary);
}

#lyrics button:focus {
	box-shadow: 0.35rem 0rem 0.35rem var(--tertiary) 0.35rem 0rem 0.35rem var(--tertiary);
}

#another-blank {
	background: transparent;
}

#lyrics h5 {
	font-size: 1.6rem;
	font-family: 'Goldman', cursive;
}

#close-button {
	color: var(--primary);
}

#similar-songs {
	font-size: 1.6rem;
	justify-content: center;
	text-align: center;
	margin-top: 5%;
}

footer {
	background: linear-gradient(to left, var(--secondary), var(--primary), var(--tertiary));
	position: fixed;
	bottom: 0;
	width: 100%;
}

footer .container {
	min-height: 9vh;
}

footer p {
	color: var(--tertiary);
	font-size: 2.4rem;
	text-align: center;
	margin-top: .75rem;
	padding-top: 1rem;
}

@media screen and (max-width: 991.98px) {
	footer {
		position: fixed;
	}
	.search-label {
		margin-left: 45%;
	}
}

@media screen and (max-width: 767.98px) {
	#lyrics-modal {
		margin-left: 36%;
	}
	.search-container {
		margin-left: 8%;
	}
	footer {
		position: relative;
	}
	.search-label {
		margin-left: 45%;
	}
	#song-search {
		width: 100%;
	}
	#artist-search {
		width: 100%;
	}
}
@media screen and (max-width: 1199.98px) {
	.search-label {
		margin-left: 40%;
	}
	
}

@media screen and (max-width: 1399.98px) {
	.search-label {
		margin-left: 25%;
	}
}