:root {
	--primary: #1a48cc;
	--secondary: #102b7a;
	--tertiary: #aeb6eb;
	--complement: #cc9ea1;
	--triadic-red: #cc1a48;
	--triadic-green: #48cc1a;
}

* {
	font-family: 'Expletus Sans', sans-serif;
	font-size: 62.5%;
	color: var(--secondary);
}

header {
	background: linear-gradient(to right, var(--secondary), var(--primary), var(--tertiary));
	color: var(--complement);
}

.jumbotron-fluid {
	min-height: 9vh;
}

header img {
	display: inline;
	float: left;
}

header h1 {
	font-size: 3.6rem;
	text-align: center;
	font-family: 'Goldman', monospace;
	color: var(--complement);
}

header h2 {
	color: var(--tertiary);
	font-size: 3rem;
	text-align: left;
	margin-left: 20vw;
}

.search-container {
	margin: 5%;
}

.search-container h3 {
	text-align: center;
}

.search-label {
	font-size: 1.8rem;
}

#artist-search {
	width: 18rem;
	height: 2.5rem;
	font-size: 1.4rem;
}

#artist-search-label {
	font-size: 1.7rem
}

#song-search {
	width: 18rem;
	height: 2.5rem;
	font-size: 1.4rem;
}

.btn-outline-dark {
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--secondary);
	border: 0.1rem solid var(--secondary);
	border-radius: 2rem;
	padding: 0.2rem;
	margin-top: 1.5rem;
}

.btn-outline-dark:hover {
	background: var(--secondary);
	color: var(--tertiary);
}

.btn-outline-dark:focus {
	box-shadow: 0.35rem 0rem 0.35m var(--primary);
}

#recent-searches-label {
	font-size: 1.8rem;
}

#recent-searches li {
	background: linear-gradient(to right, var(--secondary), var(--primary), var(--tertiary) );
	color: var(--complement);
	font-size: 1.8rem;
}

#recent-searches:hover {
	cursor: pointer;
	background: var(--tertiary);
	box-shadow: 0.35rem 0rem 0.35rem var(--primary);
}

#youtube-container {
	font-size: 1.6rem;
	justify-content: center;
	text-align: center;
	margin-top: 5%;
	border: .25rem solid var(--primary);
}

#song-info {
	font-size: 1.6rem;
	text-align: center;
	margin-top: 5%;
	border: .25rem solid var(--primary);
}

#lyricstext {
	font-size: 1.2rem;
	text-align: center;
	font-family: 'Iceland', cursive;
	margin-top: 5%;
}

#lyrics button {
	background: linear-gradient(to right, var(--secondary), var(--primary), var(--secondary) );
	color: var(--tertiary);
	font-size: 2rem;
	border-radius: 2rem;
	padding: 1.5rem;
	margin-top: 10%;
	margin-left: 2.5%;
	font-family: 'Iceland', sans-serif;
}

#lyrics button:hover {
	cursor: pointer;
	box-shadow: 0.35rem 0rem 0.35rem var(--tertiary);
}

#lyrics button:focus {
	box-shadow: 0.35rem 0rem 0.35rem var(--tertiary) 0.35rem 0rem 0.35rem var(--tertiary);
}

#another-blank {
	background: transparent;
}

#lyrics h5 {
	font-size: 1.6rem;
	font-family: 'Goldman', cursive;
}

#similar-songs {
	font-size: 1.6rem;
	justify-content: center;
	text-align: center;
	border: .25rem solid var(--primary);
	margin-top: 5%;
}

@media screen and () {
	
}